<div class="master row-container">
    <div class="panel row-container self-fill-parent left-panel">
        <div class="content self-fill-parent">Content</div>
        <div class="content self-fill-parent handle-bar"></div>
    </div>
    <div class="panel column-container self-fill-parent center-panel"
         style="flex:1;display:flex;overflow:auto;"
    >
        CENTER
        <div class="row-container" style="margin-bottom: 5px;">
            <input type="button" value="ADD" style="height:20px;padding:3px;margin-right: 3px;">
            <button>SUBTRACT</button>
        </div>
        <div class="panel row-container self-fill-parent"
        >
            <div class="panel scrollable-container self-fill-parent">
                <div>
                    <h6>ROWS</h6>

                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>
                    <div class="panel row">row</div>

                </div>
            </div>
        </div>
    </div>
    <div class="panel self-fill-parent right-panel">RIGHT
        <div class="content">Content</div>
    </div>
</div>